<div class="container">
  <h1>Users <small>Page <%= page %> of <%= count %> users</small></h1>

  <div class="well filter-well">
    <%= form_tag users_path, method: :get %>
      <div class="row">
        <div class="col-md-4">
          <h4>Filters: <a class="filters-toggle"><i class="fa fa-caret-up" aria-hidden="true"></i></a></h4>
          <div class="filters hidden">
            <div class="filter-wrapper">
              <h5>Handle <a class="filter-toggle"><i class="fa fa-caret-up" aria-hidden="true"></i></a></h5>
              <div class="filter hidden">
                <label>
                  <input type="text" name="handle" value="<%= params[:handle] %>" class="form-control">
                </label>
              </div>
            </div>

            <div class="filter-wrapper">
              <h5>Date registered <a class="filter-toggle"><i class="fa fa-caret-up" aria-hidden="true"></i></a></h5>
              <div class="filter hidden">
                <label>From:
                  <input type="text" data-provide='datepicker' name="date_from" value="<%= params[:date_from] %>" data-date-format='dd-M-yyyy' class="form-control">
                </label>
                <label>To:
                  <input type="text" data-provide='datepicker' name="date_to" value="<%= params[:date_to] %>" data-date-format='dd-M-yyyy' class="form-control">
                </label>
              </div>
            </div>

            <div class="filter-wrapper">
              <h5>Posts <a class="filter-toggle"><i class="fa fa-caret-up" aria-hidden="true"></i></a></h5>
              <div class="filter hidden">
                <label>At least:
                  <input type="number" name="min_posts" value="<%= params[:min_posts] %>" class="form-control">
                </label>
                <label>At most:
                  <input type="number"  name="max_posts" value="<%= params[:max_posts] %>" class="form-control">
                </label>
              </div>
            </div>

            <div class="filter-wrapper">
              <h5>Followers <a class="filter-toggle"><i class="fa fa-caret-up" aria-hidden="true"></i></a></h5>
              <div class="filter hidden">
                <label>At least:
                  <input type="number" name="min_followers" value="<%= params[:min_followers] %>" class="form-control">
                </label>
                <label>At most:
                  <input type="number"  name="max_followers" value="<%= params[:max_followers] %>" class="form-control">
                </label>
              </div>
            </div>

            <div class="filter-wrapper">
              <h5>Following <a class="filter-toggle"><i class="fa fa-caret-up" aria-hidden="true"></i></a></h5>
              <div class="filter hidden">
                <label>At least:
                  <input type="number" name="min_following" value="<%= params[:min_following] %>" class="form-control">
                </label>
                <label>At most:
                  <input type="number"  name="max_following" value="<%= params[:max_following] %>" class="form-control">
                </label>
              </div>
            </div>

            <div class="filter-wrapper">
              <h5>Who follows <a class="filter-toggle"><i class="fa fa-caret-up" aria-hidden="true"></i></a></h5>
              <div class="filter hidden">
                <label>User:
                  <input type="text" name="follows_user" value="<%= params[:follows_user] %>" class="form-control">
                </label>
              </div>
            </div>

            <div class="filter-wrapper">
              <h5>Is followed by <a class="filter-toggle"><i class="fa fa-caret-up" aria-hidden="true"></i></a></h5>
              <div class="filter hidden">
                <label>User:
                  <input type="text" name="following_user" value="<%= params[:following_user] %>" class="form-control">
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Order by:</h4>
          <div>
            <label>
              <%= select_tag :sort, options_for_select(sort_options, params[:sort]), class: 'form-control' %>
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <br><br>
          <div class="text-align-right">
            <button class="btn btn-primary">Update results</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <% if users.any? %>
    <%= render 'shared/pagination_links', path: :users_path, params: filter_params %>
    <%= render 'shared/users_table', users: users %>
    <%= render 'shared/pagination_links', path: :users_path, params: filter_params %>
  <% else %>
    <h2>No results</h2>
  <% end %>
</div>

<script>
  $('.filter-toggle').click(function() {
    var $icon = $(this).find('.fa');
    $(this).parents('.filter-wrapper').find('.filter').toggleClass('hidden')
    if ($icon.hasClass('fa-caret-up')) {
      $icon.removeClass('fa-caret-up').addClass('fa-caret-down');
    }
    else {
      $icon.removeClass('fa-caret-down').addClass('fa-caret-up');
    }
  });

  $('.filters-toggle').click(function() {
    var $icon = $(this).find('.fa').first();
    $('.filters').toggleClass('hidden')
    if ($icon.hasClass('fa-caret-up')) {
      $icon.removeClass('fa-caret-up').addClass('fa-caret-down');
    }
    else {
      $icon.removeClass('fa-caret-down').addClass('fa-caret-up');
    }
  });

  $('.filter-wrapper').each(function() {
    if ($(this).find('input[value]:not([value=""])').length) {
      $(this).find('.filter-toggle').trigger('click');
      $('.filters-toggle').trigger('click');
    }
  });
</script>

