<h3>User Details <small><a  title="View API source JSON" data-toggle="tooltip" class="toggle-api-data"><i class="fa fa-cog" aria-hidden="true"></i></a></small></h3>
<br>
<pre class="api-data hidden">
  <%= JSON.pretty_generate(user_api_data)  %>
</pre>

<div class="well">
  <table class="lr">
    <tr>
      <td>
        <img class="original" src="<%= user.original_url %>">
      </td>
      <td>
        <ul>
          <li>
            <span class="li-title">Handle:</span> <%= user.handle %>
          </li>
          <li>
            <span class="li-title">Email:</span>
          </li>
          <li>
            <span class="li-title">Profile:</span> <%= user.profile %>
          </li>
          <li>
            <span class="li-title">Followers:</span> <%= user.follower_count %>
          </li>
          <li>
            <span class="li-title">Following:</span> <%= user.following_count %>
          </li>
          <li>
            <span class="li-title">Posts:</span> <%= user.post_count %>
          </li>
          <li>
            <span class="li-title">User:</span> <%= user.created_at %>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>

<% if posts.any? %>
  <div class="pagination">
    <% if next_page_id.present? %>
      <%= link_to 'Next page  <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>'.html_safe, user_path(user.id, page_id: next_page_id), class: 'pull-right' %>
    <% end %>
  </div>
  <%= render 'shared/posts_table', posts: posts %>
  <div class="pagination">
    <% if next_page_id.present? %>
      <%= link_to 'Next page  <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>'.html_safe, user_path(user.id, page_id: next_page_id), class: 'pull-right' %>
    <% end %>
  </div>
<% end %>
