<h3>User Details <small><a  title="View API source JSON" data-toggle="tooltip" class="toggle-api-data"><i class="fa fa-cog" aria-hidden="true"></i></a></small></h3>
<br>
<pre class="api-data hidden">
  <%= JSON.pretty_generate(user_api_data)  %>
</pre>

<div class="well">
  <table class="lr">
    <tr>
      <td>
        <img class="original" src="<%= user.original_url %>">
      </td>
      <td>
        <ul>
          <li>
            <span class="li-title">Handle:</span> <%= user.handle %>
          </li>
          <li>
            <span class="li-title">Email:</span> <%= user.email %>
          </li>
          <li>
            <span class="li-title">Profile:</span> <%= user.profile %>
          </li>
          <li>
            <span class="li-title">Followers:</span>
            <% if user.follower_count > 0 %>
              <%= link_to user.follower_count, users_path(follows_user: user.handle) %>
            <% else %>
              <%= user.follower_count %>
            <% end %>
          </li>
          <li>
            <span class="li-title">Following:</span>
            <% if user.following_count > 0 %>
              <%= link_to user.following_count, users_path(following_user: user.handle) %>
            <% else %>
              <%= user.following_count %>
            <% end %>
          </li>
          <li>
            <span class="li-title">Posts:</span>
            <% if user.post_count > 0 %>
              <%= link_to user.post_count, posts_path(user: user.handle) %>
            <% else %>
              <%= user.post_count %>
            <% end %>
          </li>
          <li>
            <span class="li-title">Created:</span> <%= user.created_at %>
          </li>
          <li>
            <span class="li-title">Confirmed:</span> <%= user.confirmed_at %>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
