<div class="container">

  <h3>Post Details <small><a  title="View API source JSON" data-toggle="tooltip" class="toggle-api-data"><i class="fa fa-cog" aria-hidden="true"></i></a></small></h3>
  <br>
  <pre class="api-data hidden">
    <%= JSON.pretty_generate(post_api_data)  %>
  </pre>

  <div class="well">
    <table class="lr">
      <tr>
        <td>
          <img class="original" src="<%= post.original_url %>">
        </td>
        <td>
          <ul>
            <li>
              <span class="li-title">Caption:</span><span class="caption"><%= post.caption %></span>
              <% if post.edited  %>
                <span class="edited"><i class="fa fa-pencil" aria-hidden="true"></i> Edited</span>
              <% end %>
            </li>
            <li>
              <span class="li-title">Author:</span> <%= link_to post.user_handle, user_path(post.user_id) %>
            </li>
            <li>
              <span class="li-title">Likes:</span> <%= post.like_count %>
            </li>
            <li>
              <span class="li-title">Comments:</span> <%= post.comment_count %>
            </li>
            <li>
              <span class="li-title">Created:</span> <%= post.created_at %>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <ul class="nav nav-tabs" id='tabs'>
    <li class="active"><a href="#comments" data-toggle="tab">Comments (<%= post.comment_count %>)</a></li>
    <li><a href="#likes" data-toggle="tab">Likes (<%= post.like_count %>)</a></li>
  </ul>
  <br>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="comments">
      <% if comments_next_page_id.present? %>
        <%= link_to 'Next page  <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>'.html_safe, post_path(params[:id], comments_page_id: comments_next_page_id), class: 'pull-right' %>
      <% end %>
      <% if comments.any? %>
        <h3>Comments</h3>
        <table class="table table-striped">
          <tr>
            <th>Comment by</th>
            <th>Text</th>
          </tr>

          <% comments.each do |comment| %>
            <tr>
              <td><%= link_to comment.user_handle, user_path(comment.user_id) %></td>
              <td>
                <%= comment.text %>
                <% if comment.edited  %>
                  <span class="edited"><i class="fa fa-pencil" aria-hidden="true"></i> Edited</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h3>No comments</h3>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="likes">
      <% if likes_next_page_id.present? %>
        <%= link_to 'Next page  <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>'.html_safe, post_path(params[:id], likes_page_id: likes_next_page_id), class: 'pull-right' %>
      <% end %>
      <% if likes.any? %>
        <h3>Likes</h3>
        <table class="table table-striped">
          <tr>
            <th>Like by</th>
          </tr>

          <% likes.each do |user| %>
            <tr>
              <td><%= link_to user.handle, user_path(user.id) %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h3>No likes</h3>
      <% end %>
    </div>
  </div>
</div>

<% if params[:likes_page_id].present? %>
  <script>
    $(function() {
      $('#tabs a[href="#likes"]').tab('show');
    });
  </script>
<% end %>
